extends layout

block content
  h1 Welcome
  form(method='POST' action='/login')
    .form-group
      label(for='email').form-label Email
      input(type='text' id='email' placeholder='email' name='email').form-input
    .form-group
      label(for='password').form-label Password
      input(type='password' id='password' placeholder='password' name='password').form-input
    .btn-group.btn-group-block
      button(type='submit').btn.btn-primary Sign in
