extends layout

block content
  .empty
    .empty-icon
      i.icon.icon-4x.icon-cross
    p.empty-title.h5= message
    p.empty-subtitle= status
    pre #{error.stack}
    .empty-action
      a(href='/').btn Home
